.portfolio {
    width: 100%;
    margin-bottom: 125px;
}

.portfolio__container {
    padding-left: 70px;
    padding-right: 70px;
}

.portfolio__title {
    margin-top: 0;
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
}

.portfolio__link {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.portfolio__list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.portfolio__item {
    border-bottom: 1px solid#424242;
    margin-bottom: 20px;
}

.portfolio__item:last-of-type {
    padding: 0;
    border-bottom: none;
    margin: 0;
}

.portfolio__item:last-of-type>.portfolio__link>.portfolio__item-title {
    padding: 0;
}

.portfolio__item-title {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    padding-bottom: 19px;
    margin: 0;
    transition: all 0.2s linear;
}


.portfolio__item-title:hover {
    color: #CBCBCB;
}

.portfolio__item-arrow {
    width: 20px;
    height: 30px;
    padding-right: 6px;
    padding-top: 10px;
    transition: all 0.2s linear;
}

.portfolio__item-arrow:hover {
    opacity: 0.8;
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .portfolio {
        margin-bottom: 90px;
    }

    .portfolio__container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .portfolio__item-title {
        font-size: 28px;
        line-height: 50px;
        letter-spacing: -1.12px;
        padding-bottom: 19px;
    }

    .portfolio__item-arrow {
        width: 19px;
        height: 48px;
        padding-right: 4px;
    }
}

@media (max-width: 650px) {
    .portfolio__container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 550px) {
    .portfolio__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .portfolio__item-title {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .portfolio__item-title {
        font-size: 20px;
    }

    .portfolio__item-arrow {
        width: 16px;
        height: 40px;
        padding-right: 4px;
    }
}

@media (max-width: 425px) {

    .portfolio {
        margin-bottom: 70px;
    }

    .portfolio__container {
        padding-left: 14px;
        padding-right: 14px;
    }

    .portfolio__item-title {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__item-arrow {
        width: 16px;
        height: 26px;
        padding-right: 4px;
    }

    .portfolio__title {
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 20px;
    }
}