.header__content:has(.header__navigation.authorized) {
    width: 100%;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__link {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    transition: all 0.2 ease-in;
}

.header__link:hover {
    opacity: 0.7;
}

.authorized {
    width: 100%;
    display: flex;
}

.authorized>.header__link {
    font-size: 13px;
    font-weight: 400px;
}



.authorized>.header__link:first-of-type {
    padding-left: 44px;
    padding-right: 16px;
    font-weight: 500px;
}

.authorized>.header__link:last-of-type {
    margin-left: auto;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    background: #313131;
}


.no-authorized>.header__link:first-of-type {
    margin-right: 30px;
}

.no-authorized>.header__link:last-of-type:hover {
    cursor: pointer
}


.no-authorized>.header__link:last-of-type {
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #000;
    border-radius: 3px;
    background: #3DDC84;
}

.header__button>.header__link {
    color: #000;
    font-size: 16px;
}

@media (max-width: 768px) {
    .header__navigation.authorized {
        display: none;
    }

    .no-authorized>.header__link:last-of-type {
        width: 76px;
        height: 32px;
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 425px) {
    .no-authorized>.header__link:last-of-type {
        width: 54px;
        height: 26px;
        font-size: 10px;
    }

    .no-authorized>.header__link:first-of-type {
        margin-right: 14px;
        font-size: 10px;
    }
}