.header {
    padding: 21px 70px 21px;
    background-color: #202020;
    display: flex;
    position: relative;
}

.content-between {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media (max-width: 550px) {
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
}



@media (max-width: 425px) {
    .header {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 24px;
    }

    .content-between {
        align-items: center;
    }
}